.all-product-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 3rem;
    height: auto;

}

.secondary-card{
    width: 20%;
    
    margin: 10px;
    min-height: 300px;
    position: relative;
    transition: 1s;
  }
  .image{
    width: 100%;
    height: 30%;
  
  }
  .image img{
    width: 100%;
    max-height: 170px;
    background-size: cover;
    background-position: center;
    padding: 10px;
  
  }
  
  .card-text{
    min-height: 37px  !important;
  
  
  }
  .card-footerr{
    
    background:none !important; 
    width: 100%;
    margin: auto;
    
    display: none;
  
  }
  .card-footerr a{
    margin: 3px;
    font-size: 13px;
  }
  .secondary-card:hover{
    min-height: 330px;
  }
  .secondary-card:hover .card-footerr{
   display: flex ;
  }
  .main-body{
    font-family: 'Open Sans', sans-serif;
    background-color:#f8f8f8 !important;
  }
  .secondary_crd{
    width: 25%;
    
    margin: 10px;
    min-height: 300px;
  }
  .text-center{
      margin-top: 1rem;
  }