<!DOCTYPE html>
{%load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{%static 'pots/pots.css'%}">
    <link rel="stylesheet" href="{%static 'pots/footer.css'%}">
    <link rel="stylesheet" href="{%static 'pots/pot_list.css'%}">
    <link rel="stylesheet" href="{%static 'pots/pot_detail.css'%}">
    <link rel="stylesheet" href="{%static 'pots/cart_list.css'%}">
    <link rel="stylesheet" href="{%static 'pots/checkout.css'%}">
    <link rel="stylesheet" href="{%static 'pots/myorder.css'%}">
    <link rel="stylesheet" href="{%static 'pots/address.css'%}">
    <link rel="stylesheet" href="{%static 'pots/all_product.css'%}">
    <link rel="stylesheet" href="{%static 'pots/navbar.css'%}">
    <link rel="stylesheet" href="{%static 'Account/css/login.css' %}">
    <link rel="stylesheet" href="{%static 'Account/css/register.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body class="main-body">
    {% include "plants_and_pots/navbar.html" %}
    
    {% block content %}
        
    {% endblock content %}
        
            
     {% include "plants_and_pots/footer.html" %}  

 <script src="{%static 'pots/nav.js'%}"></script>
<script src="{%static 'pots/pot_list.js' %}"></script>




</body>
</html>